api.cvmatch.localhost {
	reverse_proxy localhost:3000
}

app.cvmatch.localhost {
	reverse_proxy localhost:5173
}

mailbox.cvmatch.localhost {
	reverse_proxy localhost:8025
}

storage.cvmatch.localhost {
	reverse_proxy localhost:8069
}
